

<div class="row mt-3">

  <div class="col-md-4 col-lg-4 col-sm-6">
    <div class="icon-card mb-30">
      <div class="icon success">
        <i class="fa fa-users"></i>
      </div>
      <div class="content">
        <h6 class="mb-10">Total Users</h6>
        <h3 class="text-bold mb-10">567</h3>
        <p class="text-sm text-success" style="cursor: pointer;" routerLink="/admin/manage-users">
          <i class="fa fa-angle-double-right"></i> Manage Users
          <span class="text-gray"></span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 col-sm-6">
    <div class="icon-card mb-30">
      <div class="icon success">
        <i class="fa fa-user"></i>
      </div>
      <div class="content">
        <h6 class="mb-10">@{{accountDetail?.username}}</h6>
        <h6 class="text-bold mb-10" *ngIf="accountDetail?.is_active==true">
          <i style="color: green;" class="fa fa-circle"></i> Active
        </h6>

        <h6 class="text-bold mb-10" *ngIf="accountDetail?.is_active==false">
          <i style="color: red;" class="fa fa-circle"></i> Not Active
        </h6>
        <p class="text-sm text-success" style="cursor: pointer;" routerLink="/client/profile">
          <i class="fa fa-angle-double-right"></i> View Profile
          <span class="text-gray"></span>
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-lg-4 col-sm-6">
    <div class="icon-card mb-30">
      <div class="icon success">
        <i class="fa fa-money"></i>
      </div>
      <div class="content">
        <h6 class="mb-10">My Credit</h6>
        <h3 class="text-bold mb-10">{{accountDetail?.creditsAvailable | currency:'USD'}}</h3>
        <p style="cursor: pointer;" class="text-sm text-success" data-toggle="modal" data-target="#sendCredit">
          <i class="fa fa-paper-plane"></i> Send Credit
          <span class="text-gray">24/7 available</span>
        </p>
      </div>
    </div>
  </div>



</div>

<h4 class="mb-3">Transactions History</h4>
<table style="background: white;" class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Trans Type</th>
      <th scope="col">Credit Amt</th>
      <th scope="col">Amount(USD)</th>
      <th scope="col">Completed</th>
      <th scope="col">Reciever</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let list of transactionList;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{list?.transactionType}}</td>
      <td>{{list?.creditAmount}}</td>
      <td>{{list?.amountUSD}}</td>
      <td>{{list?.isCompleted}}</td>
      <td>{{list?.receiverName}}</td>
    </tr>

  </tbody>
</table>

<!-- SEND CREDIT MODAL -->
<div class="modal fade" id="sendCredit" tabindex="-1" role="dialog" aria-labelledby="sendCredit" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="sendCreditModal modal-content container d-flex justify-content-center">
      <div class="card mt-5">
        <div class="d-flex flex-row justify-content-between p-3 adiv text-white"> <i class="fas fa-chevron-left"></i>
          <span class="pb-3" style="font-size: 20px;padding-bottom: 10px;">Send Credit</span> <button type="button" class="close" data-dismiss="modal"
            aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="d-flex flex-row p-3">
          <input class="form-control" type="text" [(ngModel)]="username" name="username" placeholder="Reciever Username">
        </div>
        <div class="d-flex flex-row p-3">
          <input class="form-control" type="number"[(ngModel)]="amountOfCredit" name="amountOfCredits"  placeholder="Amount">
        </div>

        <div class="form-group px-3">
          <button class="btn btn-primary" (click)="sendCredit()">
            Send Credit  <i style="color: white;cursor: pointer;" class="fa fa-paper-plane "></i>
          </button>

        </div>
      </div>
    </div>
  </div>
</div>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#09afdf" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: #09afdf"> Fetching Data... </p>
</ngx-spinner>
