<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
<div class="page-wrapper">

    <!-- banner start -->
    <!-- ================ -->
    <div class="banner pv-40 dark-translucent-bg"
        style="background-image:url('../../../assets/template/images/pages/main-slider1.jpg'); background-position: 50% 90%;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-center col-md-offset-2 pv-20">
                    <div class="large_white" style="padding-bottom:20px;">Anonymous VPN and Proxy service</div>
                    <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn"
                        data-effect-delay="100"></div>
                    <p class="medium_white" data-animation-effect="fadeIn" data-effect-delay="100"
                        style="padding-top:20px;">Reliable technologies<br />on your security guard online</p>
                    <div class="tp-caption small_white text-center" style="padding-top:40px;">
                        <a href="/vpn" class="btn btn-default btn-animated margin-clear">Learn about VPN <i
                                class="fa fa-lock"></i></a> <span class="pl-5 pr-5"> </span> <a (click)="login()"
                            class="btn btn-primary btn-animated margin-clear">Get started<i
                                class="fa fa-location-arrow"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner end -->

    <div id="page-start"></div>

    <!-- section start -->
    <section class="pv-30 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-center">Our <strong>Technologies</strong></h2>
                    <div class="separator"></div>
                    <p class="large text-center">Get anonymous access to information around the world</p>
                </div>
                <div class="col-sm-4">
                    <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                        <div class="overlay-container">
                            <img src="../../../assets/template/images/pages/tech1.jpg" alt="Watch any content">
                           
                        </div>
                        <div class="body">
                            <h3>Any content</h3>
                            <div class="separator"></div>
                            <p>Watch the videos from anywhere in the world at high speed.</p>
          
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                        <div class="overlay-container">
                            <img src="../../../assets/template/images/pages/tech2.jpg" alt="Privacy on the Internet">
                           
                        </div>
                        <div class="body">
                            <h3>Privacy on the Internet</h3>
                            <div class="separator"></div>
                            <p>Hide your Internet traffic and IP address from spying.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="image-box style-2 mb-20 shadow bordered light-gray-bg text-center">
                        <div class="overlay-container">
                            <img src="../../../assets/template/images/pages/tech3.jpg" alt="Unblock Websites">
                         
                        </div>
                        <div class="body">
                            <h3>Unblock Websites</h3>
                            <div class="separator"></div>
                            <p>You go to any web site or application without censorship.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="light-gray-bg pv-30 padding-bottom-clear clearfix">
        <div class="container">
            <h2 class="logo-font text-center text-muted">The <span class="text-default">Drogo</span></h2>
            <p class="text-center">The only service that not only says that it does not keep logs, but also tells <a
                    href="/review-vpn-service-thesafety">Why does not keep logs</a>.</p>
            <br>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                        data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-cut"></i></span>
                        <div class="body">
                            <h4 class="title">No logs</h4>
                            <p>All logs are disabled on the server, including logs of the OS.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                        data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon without-bg"><i class="fa fa-connectdevelop"></i></span>
                        <div class="body">
                            <h4 class="title">Securing DNS</h4>
                            <p>Protecting against DNS leak requests. Integrated security.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                        data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon without-bg"><i class="fa fa-thumbs-o-up"></i></span>
                        <div class="body">
                            <h4 class="title">Easy-to-use apps</h4>
                            <p>Own apps for quick setup of our services.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                        data-animation-effect="fadeInDownSmall" data-effect-delay="100">
                        <span class="icon without-bg"><i class="fa fa-tachometer"></i></span>
                        <div class="body">
                            <h4 class="title">Test account</h4>
                            <p>Get a free test account for using our service.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                        data-animation-effect="fadeInDownSmall" data-effect-delay="200">
                        <span class="icon without-bg"><i class="fa fa-support"></i></span>
                        <div class="body">
                            <h4 class="title">Technical support</h4>
                            <p>We will help you to choose the solution that is suitable for you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="pv-20 ph-20 feature-box-2 boxed shadow object-non-visible"
                        data-animation-effect="fadeInDownSmall" data-effect-delay="300">
                        <span class="icon without-bg"><i class="fa fa-rocket"></i></span>
                        <div class="body">
                            <h4 class="title">Unlimited bandwidth</h4>
                            <p>Browse any content without speed limits.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>
    <!-- section end -->

    <!-- section start -->
    <!-- ================ -->
    <section class="pv-40 dark-translucent-bg background-img-7" style="background-position:50% 15%;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <br>
                    <div class="feature-box-2 object-non-visible right" data-animation-effect="fadeInDownSmall"
                        data-effect-delay="100">
                        <span class="icon light-bg small"><i class="fa fa-lock"></i></span>
                        <div class="body">
                            <h4 class="title">VPN encrypts traffic and change the IP</h4>
                            <p>ISP will not know which websites are visited.<br>IP address will change to an anonymous
                                IP of VPN server.</p>
                            <div class="separator-3"></div>
                            <ul class="list-icons">
                                <li>VPN and Double VPN<i class="icon-check-1"></i></li>
                                <li>No logs<i class="icon-check-1"></i></li>
                                <li>OpenVPN (TCP, UDP) and IKEv2 VPN protocols<i class="icon-check-1"></i></li>
                                <li>Simultaneous connection of 4 devices<i class="icon-check-1"></i></li>
                                <li><br><a href="/vpn" class="btn btn-default btn-animated margin-clear">I need VPN <i
                                            class="fa fa-lock"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <br>
                    <div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall"
                        data-effect-delay="100">
                        <span class="icon light-bg small"><i class="fa fa-location-arrow"></i></span>
                        <div class="body">
                            <h4 class="title">Proxy change IP address</h4>
                            <p>A wide range of IP addresses by countries and cities.<br>Rapid change and the ability to
                                create chains.</p>
                            <div class="separator-2"></div>
                            <ul class="list-icons">
                                <li><i class="icon-check-1"></i>The ability to create chains</li>
                                <li><i class="icon-check-1"></i>No logs</li>
                                <li><i class="icon-check-1"></i>HTTP and Socks 5 proxy</li>
                                <li><i class="icon-check-1"></i>More than 10 000 proxy</li>
                                <li><br><a href="/proxy" class="btn btn-primary btn-animated margin-clear">I need Proxy
                                        <i class="fa fa-location-arrow"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <!-- section end -->

    <!-- footer start -->
    <footer id="footer" class="clearfix ">

        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
            <div class="container">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer-content">
                                <div class="logo-footer"><img id="logo-footer"
                                        src="../../../assets/template/images/logo_light_blue.png" alt="The Safety" width="150"></div>
                                <p>
                                    VPN and proxy service protects customers since 2006 using reliable technology in the
                                    field of anonymous data on the Internet.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">Links</h2>
                                <div class="separator-2"></div>
                                <nav>
                                    <ul class="nav nav-pills nav-stacked inner-a-smaller">
                                        <li><a href="/buy-vpn">Buy VPN</a></li>
                                        <li><a href="/buy-proxy">Buy proxy</a></li>
                                        <li><a href="/vpn-service">VPN service</a></li>
                                        <li><a href="/proxy-service">Proxy service</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">Capabilities</h2>
                                <div class="separator-2"></div>
                                <nav>
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/check-ip">Check IP</a></li>
                                        <li><a href="/abc-of-anonymity">ABC of anonymity</a></li>
                                        <li><a href="/setup">Setup</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="footer-content">
                                <h2 class="title">Programs</h2>
                                <div class="separator-2"></div>
                                <nav>
                                    <ul class="nav nav-pills nav-stacked">
                                        <li><a href="/affiliates">Affiliates</a></li>
                                        <li><a href="/refer-a-friend">Refer a friend</a></li>
                                        <li><a href="/free-vpn">Free VPN</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter dark-bg">
            <div class="container">
                <div class="subfooter-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-center">© TheDrogo - anonymity expert on the Internet, 2006-2022</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- .subfooter end -->

    </footer>
    <!-- footer end -->
</div>

<div class="feedback-create-button-fix" data-toggle="modal" data-target="#feedbackModal">
    Ask your question <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
</div>
<!-- Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="feedbackModalLabel">Ask your question</h4>
            </div>
            <div class="alert alert-success hidden" id="MessageSent">
                We have received your message, we will contact you very soon. </div>
            <div class="alert alert-danger hidden" id="MessageNotSent">
                Something went wrong please refresh the page and try again. </div>
            <div class="modal-body __feedback">
                <form id="contact-form" class="margin-clear" role="form">
                    <div class="form-group has-feedback">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="">
                        <i class="fa fa-envelope form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="subject">Subject</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="">
                        <i class="fa fa-navicon form-control-feedback"></i>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="6" id="message" name="message" placeholder=""></textarea>
                        <i class="fa fa-pencil form-control-feedback"></i>
                    </div>
                    <input type="submit" value="Send" data-loading-text="Sending..."
                        class="submit-button btn btn-default">
                    <input type="button" value="Close" class="submit-close btn btn-success hidden" data-dismiss="modal">
                    <input type="button" value="Refresh" class="submit-refresh btn btn-danger hidden">
                </form>
                <div class="feedback-hint-success __hide">
                    Message Sent </div>
                <div class="feedback-hint-email-required __hide">
                    We need your email address to contact you </div>
                <div class="feedback-hint-email-format __hide">
                    Please enter a valid email address e.g. name@domain.com </div>
                <div class="feedback-hint-subject-required __hide">
                    Please enter a subject </div>
                <div class="feedback-hint-message-required __hide">
                    Please enter a message </div>
                <div class="feedback-hint-message-min __hide">
                    Your message must be longer than 10 characters </div>
            </div>
        </div>
    </div>
</div>