<!-- START GET STARTED -->
<section class="section-lg bg-cta">
  <div class="bg-overlay booking">
    <div class="container">
      <div class="row justify-content-center text-center">


        <div class=" h-100 d-flex flex-column justify-content-center text-center p-5 wow zoomIn"
          style="background: rgba(56, 140, 124, 0.1);" data-wow-delay="0.6s">
          <div id="logo" class="logo">
            <h3 class="margin-clear"><a class="text-white">The <span style="color: #09afdf;">Drogo</span></a></h3>
          </div>
          <p class="text-white small">VPN &amp; Proxy service</p>
          <div class="form-block center-block p-30 light-gray-bg border-clear">
            <form [formGroup]="form" class="form-horizontal text-left">
              <h2 class="title text-center mb-5">Sign Up</h2>
              <div class="form-row mb-3  has-icon">
                <label class="col-sm-4 control-label">Username <span class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fas fa-user-edit form-control-feedback"></span>
                  <input type="text" formControlName="username" class="form-control" placeholder="Enter Username">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Password <span class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-lock form-control-feedback"></span>
                  <input type="password" formControlName="password" class="form-control" placeholder="Enter Password">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Confirm Password <span class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-lock form-control-feedback"></span>
                  <input type="password" formControlName="confirmPassword" class="form-control"
                    placeholder="Confirm Password">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Contact Info <span class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-envelope form-control-feedback"></span>
                  <input type="text" formControlName="contactInfo" class="form-control" placeholder="Enter Info">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Contact Type <span class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-address-book-o form-control-feedback"></span>
                  <select id="my-select" class="form-control form-select" formControlName="contactType">
                    <option selected value="Select Contact Type">Select Contact Type</option>
                    <option>Telegram</option>
                    <option>Whatsapp</option>
                    <option>Skype</option>
                  </select>
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Security Question 1 <span
                    class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-question form-control-feedback"></span>
                  <input type="text" formControlName="securityQuestion1" class="form-control"
                    placeholder="Enter Question 1">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Security Answer 1 <span class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-reply form-control-feedback"></span>
                  <input type="text" formControlName="securityAnswer1" class="form-control"
                    placeholder="Enter Security Answer 1">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Security Question 2 <span
                    class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-question form-control-feedback"></span>
                  <input type="text" formControlName="securityQuestion2" class="form-control"
                    placeholder="Enter Question 2">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Security Answer 2 <span class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-reply form-control-feedback"></span>
                  <input type="text" formControlName="securityAnswer2" class="form-control"
                    placeholder="Enter Security Answer 2">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Security Question 3 <span
                    class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-question form-control-feedback"></span>
                  <input type="text" formControlName="securityQuestion3" class="form-control"
                    placeholder="Enter Question 3">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <label class="col-sm-4 control-label">Security Answer 3 <span class="text-danger small">*</span></label>
                <div class="col-sm-8">
                  <span class="fa fa-reply form-control-feedback"></span>
                  <input type="text" formControlName="securityAnswer3" class="form-control"
                    placeholder="Enter Security Answer 3">
                </div>
              </div>

              <div class="form-row mb-3 has-icon">
                <div class="col-md-4"></div>
                <div class="col-sm-8">
                  <button style="width: 50%;background: #09afdf;color: white;" type="button" class="btn  mb-4"
                    (click)="register()">Register <span class="ml-4 fa fa-arrow-right"></span></button>
                  <p class="lead text-muted" style="font-size: 14px;"> Already have an account? <a
                      (click)="login()" style="cursor: pointer; color: #09afdf;font-weight: 500;text-decoration: underline;">Login</a>
                  </p>
                </div>
              </div>
            </form>
          </div>
          <p class="mt-20 text-white mt-3 mb-5">Copyright © 2022 The Drogo - anonymity expert on the Internet</p>
        </div>

      </div>
    </div>
  </div>

</section>
<!-- END GET STARTED -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#09afdf" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: #09afdf"> Registering Account... </p>
</ngx-spinner>
