<div class="container">

  <!-- <form [formGroup]="form">
    <div class="row mt-3">
      <div class="col-md-3">
        <label class="control-label">Title </label>
        <input type="text" formControlName="title" class="form-control" placeholder="Title">
      </div>

      <div class="col-md-3">
        <label class="control-label">Message </label>
        <input type="text" formControlName="text" class="form-control" placeholder="Message">
      </div>
      <div class="col-md-2">
        <button style="width: 100%;background: #09afdf;color: white;margin-top: 30px;" type="button" class="btn "
          (click)="createTicket()">Create Ticket <span class="fa fa-sticky-note-o"></span></button>
      </div>


    </div>
  </form> -->


  <div class="container row mb-4 mt-4">
    <div class="col">
      <h5 style="align-self: center;">Ticket History</h5>
    </div>
    <div class="col">
      <button data-toggle="modal" data-target="#createTicket" style="background: #09afdf;color: white;float: right;"
        type="button" class="btn ">Create Ticket <span class="fa fa-sticky-note-o"></span></button>
    </div>

  </div>

  <div class=" table-responsive">
    <table style="background: white;" class="table table-bordered table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Status</th>
          <th scope="col">Is Closed</th>
          <th scope="col">Date</th>
          <th scope="col">Update</th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let list of ticketList;let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{list.title}}</td>
          <td >
            <span *ngIf="list.status =='OPEN'" class="badge badge-success p-1"
              style="border-radius: 4px;">{{list.status}}</span>
            <span *ngIf="list.status =='CLOSED'" class="badge badge-secondary p-1"
              style="border-radius: 4px;">{{list.status}}</span>
          </td>
          <td>{{list.isClosed}}</td>
          <td>{{list.date |date}}</td>
          <td (click)="sendMessage(list)" data-toggle="modal" data-target="#conversation"><i class="fa fa-commenting-o"></i></td>


        </tr>

      </tbody>
    </table>
  </div>

  <!-- CREATE TICKET MODAL -->
  <div class="modal fade bd-example-modal-lg" id="createTicket" tabindex="-1" role="dialog" aria-labelledby="createTicket"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="createTicketModal modal-content container d-flex justify-content-center">
        <div class="card mt-5">
          <div class="d-flex flex-row justify-content-between p-3 adiv text-white"> <i class="fas fa-chevron-left"></i>
            <span class="pb-3">Create Ticket</span> <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form [formGroup]="form">
            <div class="d-flex flex-row p-3">
              <input style=" height: 60px" class="form-control" type="text" formControlName="title" class="form-control" placeholder="Title">
            </div>
            <div class="d-flex flex-row p-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="text"
                placeholder="Write your message" rows="7"></textarea>
            </div>
          </form>


          <div class="form-group px-3">
            <button style="float: right;font-weight: 600;" class="btn btn-sm btn-success"
              (click)="createTicket()">
              Create Ticket <i style="color: white;cursor: pointer;" class="fa fa-save "></i>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!--UPDATE TICKET MODAL -->
  <div class="modal fade" id="conversation" tabindex="-1" role="dialog" aria-labelledby="conversation"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="conversationModal modal-content container d-flex justify-content-center">
        <div class="card mt-5">
          <div class="d-flex flex-row justify-content-between p-3 adiv text-white"> <i class="fas fa-chevron-left"></i>
            <span class="pb-3">Messages</span> <button type="button" class="close" data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="text-center mt-3"><strong><u>{{selectedTicketToUpdate?.title}}</u></strong> </div>
          <div class="d-flex flex-row p-3" *ngFor="let m of ticketList.messages">
            <span style="align-self: center;">@<strong>{{m.name}}</strong></span>
            <div style="font-size: 12px;border-radius: 12px;padding: 6px;" class="chat ml-2">
              <span class="text-muted">{{m.message}}</span>
            </div>
          </div>
          <div class="form-group px-3">
            <div class="row">
              <div class="col-md-12">

                  <textarea class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="updateTicketMessage" name="updateTicketMessage"
                  placeholder="Write your message" rows="5"></textarea>
              </div>
            </div>
          </div>


          <div class="form-group px-3">
            <button style="float: right;font-weight: 400;" class="btn btn-sm btn-success"
            (click)="updateTicket(selectedTicketToUpdate)">
              Update Ticket <i style="color: white;cursor: pointer;" class="fa fa-paper-plane "></i>
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>


  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#09afdf" type="ball-scale-multiple"
    [fullScreen]="true">
    <p style="color: #09afdf"> Fetching Data... </p>
  </ngx-spinner>
