<div class="container">

  <form [formGroup]="form">
    <div class="row mt-3">
      <div class="col-md-3">
        <label class="control-label">Title </label>
        <input type="text" formControlName="title" class="form-control" placeholder="Title">
      </div>

      <div class="col-md-3">
        <label class="control-label">Message </label>
        <input type="text" formControlName="text" class="form-control" placeholder="Message">
      </div>
      <div class="col-md-2">
        <button style="width: 100%;background: #09afdf;color: white;margin-top: 30px;" type="button" class="btn "
          (click)="createTicket()">Create Ticket <span class="fa fa-sticky-note-o"></span></button>
      </div>


    </div>
  </form>


  <div class="row mb-4">
    <div class="col-md-12 mt-4 mb-4">
      <!-- <h5 class="">
        Ticket History
      </h5> -->
      <!-- <h4 class="">
        Resize the browser screen to see how the table changes
      </h4> -->
      <h5 class=" mb-2">Ticket History</h5>
    </div>


    <div class="container table-responsive">
      <table style="background: white;" class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Status</th>
            <th scope="col">Is Closed</th>
            <th scope="col">Date</th>
            <th scope="col">Update</th>

          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let list of ticketList;let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{list.title}}</td>
            <td style="cursor: pointer;" data-toggle="modal" data-target="#conversation">
              <span *ngIf="list.status =='OPEN'" class="badge badge-success p-1"
                style="border-radius: 4px;">{{list.status}}</span>
              <span *ngIf="list.status =='CLOSED'" class="badge badge-secondary p-1"
                style="border-radius: 4px;">{{list.status}}</span>
            </td>
            <td>{{list.isClosed}}</td>
            <td>{{list.date}}</td>
            <td><i class="fa fa-edit"></i></td>
            <!-- Modal -->
            <div class="modal fade" id="conversation" tabindex="-1" role="dialog" aria-labelledby="conversation"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="conversationModal modal-content container d-flex justify-content-center">
                  <div class="card mt-5">
                    <div class="d-flex flex-row justify-content-between p-3 adiv text-white"> <i
                        class="fas fa-chevron-left"></i> <span class="pb-3">Messages</span> <button type="button"
                        class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="d-flex flex-row p-3" >
                      <!-- <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-7.png" width="30"height="30"> -->
                      <div class="chat ml-2 p-3">
                        {{list?.messages}}
                      </div>
                    </div>
                    <!-- <div class="d-flex flex-row p-3">
                      <div class="bg-white mr-2 p-3"><span class="text-muted">Hello and thankyou for visiting
                          birdlynind.</span></div>
                          <img src="https://img.icons8.com/color/48/000000/circled-user-male-skin-type-7.png" width="30"height="30">
                    </div> -->
                    <div class="form-group px-3">
                      <div class="row">
                        <div class="col-md-10">
                          <input class="form-control" type="text" placeholder="Type your message">
                        </div>
                        <div class="col-md-2">
                          <i style="color: #09afdf;font-size: 1.3em;cursor: pointer;" class="fa fa-paper-plane "></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </tr>

        </tbody>
      </table>
    </div>


  </div>
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#09afdf" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: #09afdf"> Fetching Data... </p>
  </ngx-spinner>
