<div class="row">

  <div class=" p-3">
    <div class="row">
      <h4 style="color: gray;">Welcome Back, @username</h4>
      <p><i style="color: green;" class="fa fa-credit-card mr-3"></i> Credit Balance: <span
          style="color: green;font-weight: 600;"> <small><i class="fa fa-money"> Add</i></small></span></p>


    </div>

    <div class="row text-center">
      <div class="col">

        <h5><i style="color: coral;" class="fa fa-street-view mr-3"></i> Current IP: <span
            style="color: red;font-weight: 600;text-decoration: underline;">1234567</span></h5>
      </div>

      <div class="col">
        <h5><i class="fa fa-globe " style="color: red;"></i> Proxy IP: <span style="color: red;">00000000</span>
        </h5>
      </div>
    </div>
  </div>
</div>


<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
