<div class="container mt-4">
  <div class="row mb-4">
    <h4 class="lead">Referal Link: <a
        style="color: #09afdf; text-decoration: underline;"><strong [(ngModel)]="referralLink" name="referralLink">{{referralLink}}</strong></a> <span (click)="copyRefLink()"><i
          style="background: #09afdf;color: white;padding: 5px; border-radius: 8px;cursor: pointer;" class="ml-3 fa fa-copy"></i></span></h4>
  </div>
  <h4 class="mb-3">My Referral</h4>
  <table style="background: white;" class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Credit Received</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Austin123</td>
        <td>2.00</td>
        <td>3rd Jan</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Austin123</td>
        <td>2.00</td>
        <td>3rd Jan</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Austin123</td>
        <td>2.00</td>
        <td>3rd Jan</td>
      </tr>

    </tbody>
  </table>

</div>
