

.text-default {
  color: #09afdf;
}
.logo-font{
  font-family: "Pacifico", cursive, sans-serif;
}
.nav-item a{
  cursor: pointer;
}

.sidebar-nav-wrapper .sidebar-nav ul > .nav-item .active:active{
  color: #09afdf !important;
}
